

<p>
  <b>Description:</b>
  <%= @comment.description %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>
<p>
  <b>Creer le</b>
  <%= I18n.l(@comment.created_at) %>
</p>
<table>
  <%= render :partial =>'shared/contact_list' ,:collection=>@comment.contacts , :as =>:contact %>
</table>
<% if  correct_current_user_message_box(@comment.comment_owner)%>
<% if @comment.comment_state =='unread' %>
<%= link_to 'Lu', read_comment_path(@comment)  %>
<% else  %>
<%= link_to 'Archive', archive_comment_path(@comment) unless   @comment.comment_state=='archive'||@comment.comment_state=='mark_for_delete' %>
<%= link_to 'Corbeille', trash_comment_path(@comment) unless @comment.comment_state=='mark_for_delete'%>
<% if @comment.comment_state =='mark_for_delete' %>
<%= link_to 'Recuperer', salvage_comment_path(@comment) %>
<% end %>
<% if @comment.comment_state =='archive' %>
<%= link_to 'Restaurer', restore_comment_path(@comment) %>
<% end %>
<% end %>
    <% end %>
<%= link_to 'Edit', edit_comment_path(@comment)unless correct_current_user(@comment)==false || @comment.comment_state !='unread' %> |
<%= redirect_back_to_owner_polymorphic(@comment) %>
