<% if !@project.nil? %>
<h2>Factures du projet: <%=" "+@project.project_ref_string%> </h2>
<p> Somme restante a payer: <%=project_remaining_to_pay(@project)   %>
<%else%>
<h2>Liste des factures</h2>
<% end %>
<% if @invoices.empty? %>
<p> Aucune facture emises</p>  
<% else %>
<table>
  <thead>
    <th>Projet</th>
    <th>Référence facture</th>
    <th>Somme Total</th>
    <th>Echeance</th>
    <th>Solde</th>
    <th>Date de création</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>


  <%= render :partial => 'invoice_list' ,:collection=>@invoices ,:as=>:invoice %>

</table>
<% end%>
<br />
<% content_for :sidebar do %>
<div id="vertmenu">
      <ul id="sidebarmenu1">
       <% if !@project.nil? %>
       <% if !project_remaining_to_pay_equal_zero(@project) %>
       <li>
          <%= link_to 'Nouvelle Facture', new_project_invoice_path(@project) %>
       </li>
        <%end%>
        <li>
        <%= link_to 'Retour au projet', project_path(@project) %>
       </li>
       <%else%>
         <li>
        <%= link_to 'Retour ', user_path(current_user) %>
       </li>
       <% end %>
       </ul>
    </div>
<% end%>


