<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%=@invoice.project.client.surname+' '+ @invoice.project.client.name%>
</p>

<p>
  <b>Project:</b>
  <%='C'+@invoice.project.client.id.to_s+'P'+@invoice.project.project_ref.to_s %>
</p>

<p>
  <b>Total sum:</b>
  <%= @invoice.total_sum %>
</p>

<p>
  <b>Due date:</b>
  <%= @invoice.due_date %>
</p>

<p>
  <b>Remaining sum:</b>
  <%= @invoice.remaining_sum %>
</p>
<p>
  <b>Date de création:</b>
  <%= @invoice.created_at %>
</p>
<p>
  <b>Etat facture:</b>
  <%= @invoice.aasm_current_state %>
</p>
<div id="payments_table">
<table>
  <tr>
    <th>
      ref facture
    </th>
    <th>
      Somme payée
    </th>
    <th>
      Créer le
    </th>
  </tr>
  <%= render :partial => 'payment_list' ,:collection=>@invoice.payments ,:as=>:payment %>
</table>
</div>

<% content_for :sidebar do %>
  <div id="vertmenu">
      <ul id="sidebarmenu1">

        <li>
          <%= link_to 'Nouveau paiement js', new_payments_path(@invoice,:format=>:js),:remote=>true %>
       </li>
<li>
         <%= link_to 'Nouveau paiement', new_payments_path(@invoice) %> |
       </li>
        <li>
         <%= link_to 'Modifier', edit_invoice_path(@invoice) %> |
       </li>    <li>
         <%= link_to 'Retour', project_invoices_path(@invoice.project_id) %>
       </li>
       </ul>
  </div>
<% end%>

 



