<%= form_for(@project_action) do |f| %>
  <% if @project_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_action.errors.count, "error") %> prohibited this project_action from being saved:</h2>

      <ul>
      <% @project_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="request" class="span-18">
<div id="requestinfo" class="span-4">
  <div class="field">
    <%= f.label :action_type %><br />
    <%= f.select :action_type ,get_action_type %>
  </div>
  <div id="development">
            <%= f.label :action_type %><br />
    <%= f.select :action_type ,get_action_type %>
  </div>
</div>
</div>
    <%= f.hidden_field :project_id %>

  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>
