<%= form_for(@project_action) do |f| %>
  <% if @project_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_action.errors.count, "error") %> prohibited this project_action from being saved:</h2>

      <ul>
      <% @project_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="request" class="span-18">
<div id="requestinfo" class="span-15">
  <div class="field">
    <%= f.label :action_type %><br />
    <%= f.select :action_type ,get_action_type,:default=>"Choisir type d'action" %>
  </div>

  <div id='description' class="field span-15">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
</div>
   <div id='rendezvous'  class="field span-15">
    <%= f.label :precise_date %><br />
    <%= f.datetime_select :precise_date%>
  </div>
  <div id='offre'  class="field span-15">
    <%= f.label :offer_price %><br />
    <%= f.text_field :offer_price%>€<br />

    <%= f.label :presumed_end %><br />
    <%= f.date_select :presumed_end%>
  </div>
   <div id="production" class="field span-15">
     <%= f.label :producing_society %><br />
    <%= f.select :producing_society,get_producing_society %><br />
    <%= f.label :presumed_begin %><br />
    <%= f.date_select :presumed_begin %><br />
    <%= f.label :presumed_end %><br />
    <%= f.date_select :presumed_end %>
  </div>
  <div id="placement" class="field span-15">
     <%= f.label :placement_team %><br />
    <%= f.text_field :placement_team %><br /> 
    <%= f.label :presumed_begin %><br />
    <%= f.date_select :presumed_begin %><br />
    <%= f.label :presumed_end %><br />
    <%= f.date_select :presumed_end %>
  </div>
  <div id="remark" class="field span-15">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>
 
</div>
    <%= f.hidden_field :project_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
