<div class='span-18' style="min-height:50px"><h1>Liste des Utilisateurs</h1></div>
<hr>

<div class="span-18">

<table>
  <thead>
    
    <th>Name</th>
    <th>Email</th>
    <th>Date de création</th>

    <th>Dossier personnel</th>
    <th>Etat</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  <th></th>
    <th></th>
  </thead>

<% @users.each do |user| %>

  <tr>
    
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%=I18n.l( user.created_at )%></td>
    <td><%= user.home_directory %></td>
     <td><%=state_to_fr_string user.aasm_current_state %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= profile_show_or_create_link user %></td>
    <td><%= link_to "Client de l'utilisateur",user_clients_path(user) %></td>
    <td><%= #noinspection RubyArgCount
            link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Activate', activate_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
  </div>
<br />
<div id="new_user"></div>