<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @message_box.description %>
</p>

<p>
  <b>Box type:</b>
  <%= @message_box.box_type %>
</p>
<ul>
  <li>Messages non lus (<%=unread_count @message_box.comments%>)</li>
  <li>Messages lus (<%=read_count @message_box.comments%>)</li>
  <li>Messages à archiver (<%=to_archive_count @message_box.comments%>)</li>
  <li>Messages dans la corbeille (<%=to_delete_count @message_box.comments%>)</li>
</ul>

<table>
<%=render :partial=>'comments/comment_list', :collection=>@message_box.comments ,:as=>:comment%>
</table>
<%= link_to 'Vider Corbeille', delete_trashed_comments_path(@message_box) unless correct_current_user_message_box(@message_box)==false %>
<%= link_to 'Archiver', archive_yml_comments_path(@message_box) unless correct_current_user_message_box(@message_box)==false %>

<%= link_to 'Nouveau message', new_message_box_comment_path(@message_box) %> |
<%= link_to 'Modifier', edit_message_box_path(@message_box) %> |
<%=  redirect_back_to_owner_polymorphic(@message_box) %>
