<html>

<head>
<script>
   function changeScreenSize(w,h)
     {
       window.resizeTo( w,h )
     }
</script>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<title>DEVIS BOIS</title>
<style>
<!--span.MSOFOOTNOTEREFERENCE
	{position:relative;
	top:-3pt;}

 /* Font Definitions */
 @font-face
	{font-family:Helv;
	panose-1:2 11 6 4 2 2 2 3 2 4;}
@font-face
	{font-family:Helv;
	panose-1:2 11 6 4 2 2 2 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:Dutch;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h1
	{mso-style-link:"Titre 1 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:18.0pt;
	margin-left:0cm;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Helv","sans-serif";}
h2
	{mso-style-link:"Titre 2 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Helv","sans-serif";}
h3
	{mso-style-link:"Titre 3 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Helv","sans-serif";
	font-weight:normal;}
h4
	{mso-style-link:"Titre 4 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:17.7pt;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
	text-decoration:underline;}
h5
	{mso-style-link:"Titre 5 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h6
	{mso-style-link:"Titre 6 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
	text-decoration:underline;}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{mso-style-link:"Titre 7 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-style:italic;}
p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
	{mso-style-link:"Titre 8 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-style:italic;}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
	{mso-style-link:"Titre 9 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-style:italic;}
p.MsoNormalIndent, li.MsoNormalIndent, div.MsoNormalIndent
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:35.4pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{mso-style-link:"Note de bas de page Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"En-tête Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Pied de page Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
	{mso-style-link:"Explorateur de documents Car";
	margin:0cm;
	margin-bottom:.0001pt;
	background:navy;
	font-size:10.0pt;
	font-family:"Tahoma","sans-serif";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Texte de bulles Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
span.Titre1Car
	{mso-style-name:"Titre 1 Car";
	mso-style-link:"Titre 1";
	font-family:"Cambria","serif";
	color:#365F91;
	font-weight:bold;}
span.Titre2Car
	{mso-style-name:"Titre 2 Car";
	mso-style-link:"Titre 2";
	font-family:"Cambria","serif";
	color:#4F81BD;
	font-weight:bold;}
span.Titre3Car
	{mso-style-name:"Titre 3 Car";
	mso-style-link:"Titre 3";
	font-family:"Cambria","serif";
	color:#4F81BD;
	font-weight:bold;}
span.Titre4Car
	{mso-style-name:"Titre 4 Car";
	mso-style-link:"Titre 4";
	font-family:"Cambria","serif";
	color:#4F81BD;
	font-weight:bold;
	font-style:italic;}
span.Titre5Car
	{mso-style-name:"Titre 5 Car";
	mso-style-link:"Titre 5";
	font-family:"Cambria","serif";
	color:#243F60;}
span.Titre6Car
	{mso-style-name:"Titre 6 Car";
	mso-style-link:"Titre 6";
	font-family:"Cambria","serif";
	color:#243F60;
	font-style:italic;}
span.Titre7Car
	{mso-style-name:"Titre 7 Car";
	mso-style-link:"Titre 7";
	font-family:"Cambria","serif";
	color:#404040;
	font-style:italic;}
span.Titre8Car
	{mso-style-name:"Titre 8 Car";
	mso-style-link:"Titre 8";
	font-family:"Cambria","serif";
	color:#404040;}
span.Titre9Car
	{mso-style-name:"Titre 9 Car";
	mso-style-link:"Titre 9";
	font-family:"Cambria","serif";
	color:#404040;
	font-style:italic;}
span.NotedebasdepageCar
	{mso-style-name:"Note de bas de page Car";
	mso-style-link:"Note de bas de page";
	font-family:"Times New Roman","serif";}
span.En-tteCar
	{mso-style-name:"En-tête Car";
	mso-style-link:En-tete;}
span.PieddepageCar
	{mso-style-name:"Pied de page Car";
	mso-style-link:"Pied de page";
	font-family:"Times New Roman","serif";}
span.ExplorateurdedocumentsCar
	{mso-style-name:"Explorateur de documents Car";
	mso-style-link:"Explorateur de documents";
	font-family:"Tahoma","sans-serif";}
span.TextedebullesCar
	{mso-style-name:"Texte de bulles Car";
	mso-style-link:"Texte de bulles";
	font-family:"Tahoma","sans-serif";}
p.retourenveloppe, li.retourenveloppe, div.retourenveloppe
	{mso-style-name:"retour enveloppe";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.adresseenveloppe, li.adresseenveloppe, div.adresseenveloppe
	{mso-style-name:"adresse enveloppe";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:144.0pt;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
.MsoChpDefault
	{font-size:10.0pt;}
@page WordSection1
	{size:21.0cm 842.0pt;
	margin:2.0cm 2.0cm 42.55pt 2.0cm;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=FR-BE link=blue vlink=purple onload="changeScreenSize(800,1100)">
<div id='test' style='max-width:750px' >
<div class=WordSection1>

<p class=MsoNormal><b><span style='font-size:9.0pt'> 
  <%if request==nil%>
     <div id="image"><img src="http://192.168.254.54:3000/images/BANNIERE.png" alt="banniere"  ></div>
  <%elsif request.format=="text/html"%>

     <%= image_tag('BANNIERE.png',:alt=>"") %> <%= pdf_image_tag('BANNIERE.png',:alt=>'') %>
  <%elsif request.format=="application/pdf"%>
     <%= pdf_image_tag('BANNIERE.png',:width=>655 ,:height=>89) %>
  <%end%>

</span></b></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 align=left>
 <tr style='height:3.0pt'>
  <td width=9 style='width:6.75pt;padding:0cm 0cm 0cm 0cm;height:3.0pt'></td>
  <td width=259 style='width:194.25pt;padding:0cm 0cm 0cm 0cm;height:3.0pt'></td>
  <td width=55 style='width:41.25pt;padding:0cm 0cm 0cm 0cm;height:3.0pt'></td>
  <td width=313 style='width:234.75pt;padding:0cm 0cm 0cm 0cm;height:3.0pt'></td>
 </tr>
 <tr style='height:9.0pt'>
  <td style='padding:0cm 0cm 0cm 0cm;height:9.0pt'></td>
  <td colspan=2 style='padding:0cm 0cm 0cm 0cm;height:9.0pt'></td>
  <td width=313 rowspan=3 valign=top style='width:234.75pt;border:solid white 1.0pt;
  background:white;padding:0cm 0cm 0cm 0cm;height:9.0pt'><span
  style='position:absolute;z-index:251661312'>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
   style='width:100.0%'>
   <tr>
    <td style='padding:0cm 0cm 0cm 0cm'>
    <div>
    <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;</span></p>
    <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= string_name(@invoice.project.client)%> </span></p>
    <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;</span></p>
    <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@invoice.project.client.addresses.first.street_info_to_string%> </span></p>
    <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;</span></p>
    <p class=MsoNormal><span lang=FR style='font-size:13.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@invoice.project.client.addresses.first.zip_city_to_string%></span></p>
    <p class=MsoNormal><span lang=FR>&nbsp;</span></p>
    </div>
    </td>
   </tr>
  </table>
  </span>
  <p class=MsoNormal><span style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:97.5pt'>
  <td style='padding:0cm 0cm 0cm 0cm;height:97.5pt'></td>
  <td width=259 valign=top style='width:194.25pt;border:solid white 1.0pt;
  background:white;padding:0cm 0cm 0cm 0cm;height:97.5pt'><span
  style='position:absolute;z-index:251659264'>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=265
   style='width:7.0cm'>
   <tr>
    <td width="100%" style='width:100.0%;padding:0cm 0cm 0cm 0cm'>
    <div>
    <div style='border:solid windowtext 1.0pt;padding:3.0pt 4.0pt 3.0pt 5.0pt'>
    <p class=MsoNormal><span lang=FR style='font-size:11.0pt'>Salle
    d’exposition et bureaux</span></p>
    <p class=MsoNormal><span lang=FR style='font-size:11.0pt'>&nbsp;Ch de
    Jette,&nbsp; 487-491 </span></p>
    <p class=MsoNormal><span lang=FR style='font-size:11.0pt'>&nbsp;1090&nbsp;
    &nbsp;Bruxelles Jette</span></p>
    <p class=MsoNormal><span lang=FR style='font-size:11.0pt'>&nbsp;Tel&nbsp;
    :&nbsp;&nbsp;&nbsp; 02/426.66.18</span></p>
    <p class=MsoNormal><span lang=FR style='font-size:11.0pt'>&nbsp;Fax&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;
    02/426.42.66</span></p>
    <p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b><span
    lang=FR style='font-size:11.0pt'>Email&nbsp;:&nbsp; <a
    href="mailto:info@onlywood.be">info@onlywood.be</a></span></p>
    </div>
    <p class=MsoNormal><span lang=FR>&nbsp;</span></p>
    </div>
    </td>
   </tr>
  </table>
  </span>
  <p class=MsoNormal><span style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
  <td style='padding:0cm 0cm 0cm 0cm;height:97.5pt'></td>
 </tr>
 <tr style='height:3.75pt'>
  <td style='padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td style='padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td style='padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
 </tr>
</table>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoNormal><span style='font-size:12.0pt'><br clear=all>
</span></p>

<div>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 align=left
 max-width=750  hspace=0 vspace=0 height=32>
 <tr style='height:24.0pt'>
  <td valign=top style='padding:0cm 7.05pt 0cm 7.05pt;height:24.0pt'>
  <div style='border:solid windowtext 1.0pt;padding:1.0pt 1.0pt 1.0pt 1.0pt'>
  <p class=MsoNormal><span lang=FR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span><b><span lang=FR style='font-size:12.0pt'>&nbsp;FACTURE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></b><b><span lang=FR style='font-family:Dutch'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><b><span
  lang=FR style='font-size:12.0pt;font-family:Dutch'>&nbsp;&nbsp;N° <%= @invoice.invoice_num%>  </span></b><b><span
  lang=FR style='font-family:Dutch'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b></p>
  </div>
  </td>
 </tr>
</table>

</div>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></b></p>

<p class=MsoNormal><span lang=FR>&nbsp;</span></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<div>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 align=left
 width=752 style='width:564.0pt' hspace=0 vspace=0 height=23>
 <tr style='height:17.25pt'>
  <td valign=top style='padding:0cm 7.05pt 0cm 7.05pt;height:17.25pt'>
  <p class=MsoNormal style='margin-right:2.45pt'><span lang=FR
  style='font-size:9.0pt'>&nbsp;Tel.&nbsp; CLIENT : <b>&nbsp;<%=@invoice.project.client.contacts.where("genre ='Fixe'").first.contact_data unless @invoice.project.client.contacts.where("genre ='Fixe'").empty? %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </b>T.V.A. :<b> <%=@invoice.project.client.financial_data.tva_number %> </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JETTE,
  LE <b>&nbsp;<%=Time.now.strftime("%d/%m/%Y")
 %></b></span></p>
  <p class=MsoNormal style='margin-right:2.45pt'><span lang=FR
  style='font-size:9.0pt'>&nbsp;Fax. CLIENT : <b>&nbsp;<%=@invoice.project.client.contacts.where("genre ='Fax'").first.contact_data unless @invoice.project.client.contacts.where("genre ='Fax'").empty?%></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  GSM. CLIENT : <b>&nbsp;<%=@invoice.project.client.contacts.where("genre ='GSM'").first.contact_data unless @invoice.project.client.contacts.where("genre ='GSM'").empty?%></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></p>
  </td>
 </tr>
</table>

</div>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoNormal><b><span lang=FR style='font-size:9.0pt'>&nbsp;</span></b></p>

<p class=MsoNormal><span lang=FR>&nbsp;</span></p>

<div style='border:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;margin-left:
14.2pt'>

<p class=MsoNormal><span lang=FR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp; </span><span lang=FR style='font-size:12.0pt'>Suivant notre offre
numéro : <%=@invoice.project.project_ref_string%>ODP du <%= offer_date(@invoice.project).strftime("%d/%m/%Y") %></span></p>

<p class=MsoNormal><span lang=FR style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Référence à rappeler lors de votre paiement :<%= @invoice.invoice_ref %></span></p>

</div>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>Fourniture et pose de châssis en PVC blanc + doubles vitrages climaplus
N gaz U 1.1.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>Suivant notre
offre:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%=@invoice.project.project_price*(1+@invoice.project.client.financial_data.get_tva_rate_float) %>€&nbsp; T.V.A. comprise.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>Votre acompte <%= get_already_paid_invoices_ref_string(@invoice.project,@invoice) %>
- <%=get_already_paid_amount(@invoice.project)*(1+@invoice.project.client.financial_data.get_tva_rate_float) %> €&nbsp; T.V.A. comprise.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------------------------------------</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR style='font-size:
12.0pt'>Solde:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%=@invoice.project.project_price*(1+@invoice.project.client.financial_data.get_tva_rate_float)-get_already_paid_amount(@invoice.project)*(1+@invoice.project.client.financial_data.get_tva_rate_float) %>  €&nbsp; T.V.A. comprise.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>&nbsp;</span></p>

<div style='border:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;margin-left:
14.2pt'>

<p class=MsoNormal><span lang=FR>&nbsp;</span></p>

<p class=MsoNormal><span lang=FR style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Montant brut :
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%=@invoice.total_sum %> €</span></p>

<p class=MsoNormal><span lang=FR style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Taux de T.V.A. : <%=@invoice.project.client.financial_data.tva_rate%>&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Montant
T.V.A.:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%=@invoice.total_sum*@invoice.project.client.financial_data.get_tva_rate_float%> €</span></p>

</div>

<p class=MsoNormal align=center style='text-align:center;text-indent:14.2pt'><span
lang=FR>&nbsp;</span></p>

<div style='border:solid windowtext 1.0pt;padding:0cm 0cm 0cm 0cm;margin-left:
14.2pt'>

<p class=MsoNormal style='background:silver'><b><span lang=FR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></b></p>

<p class=MsoNormal style='background:silver'><b><span lang=FR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></b><b><span lang=FR style='font-size:12.0pt'>Echéance : au grand
comptant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; Montant à payer :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;<%=@invoice.total_sum+@invoice.total_sum*@invoice.project.client.financial_data.get_tva_rate_float%>€&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></b></p>

</div>

<p class=MsoNormal style='margin-left:14.2pt;text-align:justify'><span lang=FR>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:14.2pt;text-align:justify'><span lang=FR>Attestation
en application de l'article 63¹¹ de l'AR/CIR 92 concernant les travaux exécutés
visés à l'article 145/24 du code des impôts sur les revenus 1992.</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>Par la présente
facture,attestation est donnée au maître de l'ouvrage que le coefficient K ( ou
U)</span></p>

<p class=MsoNormal style='margin-left:14.2pt'><span lang=FR>global de la
fenêtre ( châssis + vitrages ) calculé selon les formules simplifiées de la
norme en vigueur ( NBN B 62 ) est inférieur ou égal à 2,0 watt par mètre carré
kelvin. </span></p>

<p class=MsoNormal align=center style='margin-left:14.2pt;text-align:center'><span
lang=FR>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:14.2pt;text-align:justify'><span lang=FR>Tout
retard de paiement ou de tout ou partie d'une facture entraîne de plein droit
une majoration du montant de 20 % avec un minimum de 50 €, à titre de dommages
et intérêts, en application des articles 1152 et 1229 du code civil. Les
réclamations, pour être valables, doivent être faites par écrit dans les 8
jours.</span></p>

</div>
</div>
</body>

</html>
